body {
	color: #808080;
    background-color: #212121;
}

a {
	color: #e0e0e0;
}

.label {
	color: e0e0e0;
	text-align: right;
}

#episodes .row_even {
	background-color: #181818;
}
#episodes .even {
	background-color: #181818;
}

#episodes .date {
	color: #808080;
}

#episodes .date_video {
	color: #808080;
}

#episodes .selected {
	background-color: #333;

}

#episodes .title_video {
    color: e0e0e0;
}

#episodes .title_audio {
    color: e0e0e0;
}