<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveContentFilter</key>
	<integer>2</integer>
	<key>ShowApplicationBadgeForUnseen</key>
	<true/>
	<key>EnabledBackgroundPlayback</key>
	<true/>
	<key>EnableCachingOver3G</key>
	<false/>
	<key>AutoCacheNewAudioEpisodes</key>
	<true/>
	<key>AutoCacheNewVideoEpisodes</key>
	<false/>
	<key>DirectoryThirdLanguageChoice</key>
	<string>none</string>
	<key>EpisodesSortOrder</key>
	<string>NewerFirst</string>
	<key>FeedSortOrder</key>
	<string>NewerFirst</string>
	<key>SimperiumSyncEnabled</key>
	<false/>
	<key>FeedShowOnlyLatestUnseen</key>
	<integer>200</integer>
	<key>UISoundEnabled</key>
	<true/>
	<key>ContinuousPlayback</key>
	<false/>
	<key>LinkDropBox</key>
	<false/>
	<key>AutoCacheStorageLimit</key>
	<integer>1024</integer>
	<key>LinkFlattr</key>
	<false/>
	<key>DisableAutoLock</key>
	<false/>
	<key>PlayerSkipBackPeriod</key>
	<integer>30</integer>
	<key>PlayerSkipForwardPeriod</key>
	<integer>30</integer>
	<key>EnableManualRefreshFinishedNotification</key>
	<false/>
	<key>EnableManualDownloadFinishedNotification</key>
	<false/>
	<key>ShowUnavailableEpisodes</key>
	<true/>
	<key>PlaybackVolume</key>
	<integer>1</integer>
	<key>ReplayAfterPause</key>
	<true/>
	<key>EnableNewEpisodeNotification</key>
	<true/>
	<key>EnableContinuePlayingNotification</key>
	<true/>
	<key>DropBoxRootPath</key>
	<string>/Instacast</string>
	<key>AutoRefresh</key>
	<integer>2</integer>
	<key>EnableStreamingOver3G</key>
	<true/>
	<key>PlayerControls</key>
	<integer>0</integer>
	<key>EnableiCloudSyncing</key>
	<false/>
	<key>EnableDownloadSyncing</key>
	<false/>
	<key>EnableCachingImagesOver3G</key>
	<true/>
	<key>SwitchNightModeAutomatically</key>
	<false/>
	<key>EnableRefreshingOver3G</key>
	<true/>
	<key>ReadLaterService</key>
	<string>None</string>
	<key>EnableSyncingOver3G</key>
	<true/>
	<key>AutoCacheOnlyMostRecentOne</key>
	<true/>
	<key>AllowSendingDiagnostics</key>
	<integer>2</integer>
	<key>KeepWhenAutoClear</key>
	<integer>1</integer>
	<key>FeedAutoArchive</key>
	<integer>0</integer>
	<key>ContinuousPlaybackInFeedLists</key>
	<false/>
	<key>ContinuousPlaybackInSmartPlaylists</key>
	<true/>
	<key>ContinuousPlaybackInPlaylists</key>
	<true/>
	<key>EnablePushNotification</key>
	<true/>
	<key>EnableAutomaticSparkleChecks</key>
	<true/>
	<key>AutoDeleteAfterFinishedPlaying</key>
	<false/>
	<key>AutoDeleteAfterMarkedAsPlayed</key>
	<false/>
</dict>
</plist>
